<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

  <p>
    <strong>Diseases:</strong>
    <%= patient.diseases %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Date of admittance:</strong>
    <%= patient.date_of_admittance %>
  </p>

  <p>
    <strong>Time required for recovery:</strong>
    <%= patient.time_required_for_recovery %>
  </p>

</div>
